*{
    margin: 0;
}

/*VIEWS*/


/*Home*/

.facebook-login {
    width: 25px;
}

.facebook-btn {
    /*background-color: #3b5998;*/
    font-size: 1.1em;
    margin-right: 25px;
}

.facebook-btn:hover {
    color: white;
    /*background-color: #3b5998;*/
}

.facebook-btn i{
    height: 15px;
}


/*DIRECTIVES*/


/*Navbar*/

navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

navbar div ul li a {
    font-size: 1.1em;
}

.navLinks:hover {
    color: white;
    text-decoration: none;
}

.navLinks{
	margin-left: 25px;
}


/*Tasks*/

#tasks {
    margin-top: 120px;
}
