<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="task in tasks | filter: filters">
        <div class="collapsible-header">
            <div class="left">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>{{task.name}}
            </div>
            <div class="right">
                <i class="fa fa-hourglass-end" aria-hidden="true"></i><strong>Due:</strong> {{task.due}}
            </div>
        </div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s8">
                    <p><strong>Description: </strong>{{task.description}}</p>
                    <p>
                        <strong>Created:</strong> {{task.created}}
                        <br>
                        <strong>Due:</strong> {{task.due}}
                    </p>
                    <a ng-if="!task.completed" id="done-btn" ng-click="done(task, true)"><i class="fa fa-check done-check" aria-hidden="true" ></i> Done</a>
                    <a ng-if="task.completed" id="done-btn" ng-click="done(task, false)"><i class="fa fa-undo" aria-hidden="true" ></i> Undo</a>
                    <br>
                    <br>
                </div>
                <div class="col s4">
                    <pomodoro ng-if="!task.completed"></pomodoro>
                </div>
            </div>

        </div>
    </li>
</ul>
