<nav class="blue darken-4">
    <a ui-sref="home" class="brand-logo center">intero</a>
    <div class="right">
        <button class="facebook-btn btn blue darken-2" ng-click="login()">
            <i class="fa fa-facebook" aria-hidden="true"></i> Join now!
        </button>
    </div>
</nav>
<div id="home-page" class="row">
    <div class="col s6">
        <div id="home-title">
            <h1>Your average todo list app.</h1>
            <h3>Designed from the ground up<br>
            to make <b class="me">ME</b> lose sleep!</h3>
        </div>
    </div>
    <div>
        <h1 class="powered">Powered by<br>Firebase</h1>
    </div>
</div>
