<nav class="orange darken-4">
    <div class="nav-wrapper container-fluid">
        <a ui-sref="home" class="brand-logo navLinks center">intero</a>
        <div id="nav" class="right">
            <!-- <button class="facebook-btn btn" ng-click="login()"> -->
            	<a ng-click="login()">
            		<img src="/../../lib/img/fb_icon.png" class="facebook-login" alt="facebook-login" />
            	</a>
            	<!-- Join!</button> -->
        </div>
    </div>
</nav>
<div class="container" id="home">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">

        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">

        </div>
    </div>
</div>
