<navbar></navbar>

<div id="tasks" class="container">
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3">

            <div class="list-group">
                <button type="button" class="list-group-item">
                    <i class="fa fa-plus" aria-hidden="true"></i> New Task
                </button>
                <button type="button" ng-click="setToday()" class="list-group-item">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Today
                </button>
                <button type="button" ng-click="setWeek()" class="list-group-item">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Week
                </button>
                <button type="button" ng-click="viewDone()" class="list-group-item">
                    <i class="fa fa-check-square" aria-hidden="true"></i> Done
                </button>
            </div>

        </div>
        <div class="col-xs-12 col-md-9 col-lg-9">
            <h1 class="center">{{title}}</h1>
            <tasks-right tasks="tasks"></tasks-right>
        </div>
    </div>
</div>
