<ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="task in tasks" ng-if="task.completed">
        <div class="collapsible-header">
            <div class="left" >
                <i class="fa fa-check-square-o" aria-hidden="true"></i>{{task.name}}
            </div>
            <div class="right" ng-click="done(task, true)">
                <i class="fa fa-hourglass-end" aria-hidden="true"></i><strong>Due:</strong> {{task.due}}
            </div>
        </div>
        <div class="collapsible-body">
            <p><strong>Description: </strong>{{task.description}}
                {{task}}</p>
            <p>
                <strong>Created:</strong> {{task.created}}
                <br>
                <strong>Due:</strong> {{task.due}}
            </p>
            <div class="right" >
                <i class="fa fa-check done-check" aria-hidden="true" ></i>
            </div>

        </div>
    </li>
</ul>
